/* my-favorite-google-font-poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    color: #F89A3B;
}

/* custom class and styles */
.luxury-text-color{
    color: #F89A3B;
}
.luxury-button{
    background-color: #F89A3B;
}
.luxury-h3{
    color: #F89A3B;
}
.luxury-font-awesome{
    color: #F89A3B;
}
.luxury-background{
    background-color: #F89A3B;
}
.luxury-footer-bg{
    background-color: #0B0D17;
}
